*{
    margin: 0;
    padding: 0;
}

.clearfix::before,.clearfix::after{
    content: '';
    display: table;
    clear: both;
} 
body a{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
body span{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
body{
    font:12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
a{
    color: #6c6c6c;
    text-decoration: none;
}
.top-head{
    width: 100%;
    background-color: #f5f5f5;
    border-bottom: 1px solid #eee;
}
.top{
    padding-left: 120px;
    font-size: 12px;
    width:1115.33px ;
    height: 36px;
    margin: 0 auto;
}
.top li{
    float: left;
    height: 36px;
    line-height: 36px;
    margin-right: 10px;
}
.top li:nth-child(1){
    display: inline-block;
    width: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.iconfont{
    font-size: xx-small;
    color: #9c9c9c;
}
#chengse{
    color: #ff4400;
}
.top a:hover{
    color: #F40;
}
.l4:hover a,
.l4:hover a i{
    color: #ff4400;
}
.num{
    font-weight: bold;
}
.l1{
    margin-left: 30px;
}
.l2{
    margin-left: 10px;
}
.l3{
    margin-left: 6px;
}
.content-head{
    width: 100%;
    background-color: white;
}
.content{
    width: 1265.33px;
    margin: 0 auto;
    position: relative;
}
.nav img{
    display: block;
    width: 181px;
    height: 45px;
    margin-left: 130px;
    padding-top: 18px;
} 
.sousuo{
    float: left;
    border: 4px solid #ff5000;
    width: 520px;
    height: 28px;
    position: relative;
    top: -40px;
    left: 600px;
}
.top_search::placeholder{
    background-position: -370px -20px;
    background-image: url(//gtd.alicdn.com/tps/i4/T1OdGtFaxfXXXa78nI-400-200.png);
    background-repeat: no-repeat;
}
.top_search{
    width: 420px;
    height: 28px;
    position: absolute;
    top: 0;
    left:80px;
    border: transparent;
    outline: none;
    text-indent: 10px;
    
}
#tu{
    width: 20px;
    height:20px;
    position: absolute;
    top: 15%;
    transform: translateY(-50%);
    left: -50px;
}
input:focus + #tu{
    display: none;
}
.sousuo a{
    display: block;
    width: 80px;
    height: 18px;
    background-color: #f5f5f5;
    padding: 5px;
    padding-left: 20px;
}
.search{
    width: 99.5px;
    height: 28px;
    position: absolute;
    top: 0;
    left: 81%;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #ff5000;
    border: 1px solid #ff5000;
    cursor: pointer;
}
.top-nav{
    font-size: 16px;
    width:990px;
    margin: 0 auto;
    border-bottom: 2px solid #e6e6ee;
    padding-bottom: 15px;
    position: relative;
    
}
.top-nav .left{
    float: left;
    position: relative;
}
.top-nav a{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    font-family: 'Hiragino Sans GB','Lantinghei SC','Microsoft Yahei',SimSun;
}
.top-nav .right{
    float: right;
}
.top-nav .left{
    text-align:center ;
}
.xian1:hover{
    cursor: pointer;
}
.top-nav .xia1,
.top-nav .xia2,
.top-nav .xia3{
    width: 100px;
    text-align: center;
    padding-right: 20px;
}
.xian{
    width: 1px;
    height: 15px;
    background-color: #e0dddd;
    margin-top: 5px;
}
.top-nav .left span{
    color:#ff5000;
    font-weight: lighter;
    font-size: 15px;
}
.top-nav .right{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
}
.top-nav .right a{
    margin-top: -5px;
    display: block;
    width: 55px;
    height: 25px;
    line-height: 25px;
    background-color: #aaa;
    outline:none ;
    align-items: center;
    text-align: center;
    font-size: 9px;
    color: white;
    font-weight: lighter;
    border-radius: 4px;
    cursor: no-drop;
}
label{
    position: relative;
    z-index: 2;
    float: left;
    width: 10px;
    height: 10px;
    background-position: 0 0;
    line-height: 200em;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #c3c3c3;
    
}
.top-bar{
    width:990px;
    margin: 0 auto;
    font-size: 12px;
    padding-bottom: 30px;
}

.top-bar li{
    font-weight: lighter;
    margin-top: 20px;
    float: left;
}
.red-strip{
    display: inline-block;
    width: 120px;
    height: 2px;
    background-color: #f40;
    position: absolute;
    top: 45px;
    left: -362px;
}
.xia1:hover{
    cursor: pointer;
}
.xia2:hover,.xia3:hover,.teshu:hover{
    cursor: no-drop;
}
.xia2:hover ~.red-strip{
    animation: change1 2s infinite ease-in-out;
}
.teshu:hover ~.red-strip{
    animation: change1 2s infinite ease-in-out;
}
.xia3:hover ~ .red-strip{
    animation: change2 2s infinite ease-in-out;
}
@keyframes change1{
    0%,100%{
        transform: translateX(120px);
    }
}
@keyframes change2{
    0%,100%{
        transform: translateX(240px);
    }
}
.dianpu{
    width: 990px;
    margin: 0 auto;
    color: #3c3c3c;
}
.dianpu1{
    margin-left: 15px;
    font-size: 12px;
    line-height: 20px;
    height: 20px;
}
body{
    font-family: Verdana,Tahoma,arial;
}
.dianpu1 label{
    margin-top: 5px;
}
.dianpu1 .wenzi:hover{
    color: #f40;
    text-decoration: underline;
    cursor: pointer;
}
.dianpu1 img{
    display: inline-block;
    vertical-align: middle;
}
.xiaolan{
    background-image: url(//gtd.alicdn.com/tps/i1/T15AD7FFFaXXbJnvQ_-130-60.gif);
    text-decoration: none!important;
    width: 20px;
    height: 20px;
    zoom: 1;
    display: inline-block;
    background-position: -80px 0;
    vertical-align: bottom;
}
.dianpu11{
    width: 990px;
    height: 123px;
    background-color:#FCFCFC;
    margin-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border: 1px solid #d1d1d1;
    position: relative;
}
.dianpu11 div{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
}
.dianpu11 label{
    margin-left: 20px;
    margin-top: 20px;
}
.dianpu11 span{
    display: block;
    width: 186px;
    height: 36px;

}
.dianpu11 span:hover{
    color: #f40;
    text-decoration: underline;
    cursor: pointer;
}
.dianpu11 .jieshao img{
    margin-top: 28px;
}
.dianpu11 .jieshao img:hover{
    cursor: pointer;
}
.dianpu11 .color{
    position: relative;
    margin-left: 30px;
    width:140px ;
    height: 98px;
    color: #9c9c9c;
    margin-top: -0px;
    padding-top: 20px;
    padding-left: 15px;
    border: 1px dotted transparent;
}
.dianpu11 .danjia{
    /* width: 120px; */
    height: 119px;
}
.dianpu11 #shanchu{
    color: #9c9c9c;
    text-decoration: line-through;
    font-family: Verdana,Tahoma,arial;
}
.dianpu11 #xianjia{
    font-weight: bold;
    margin-top: -20px;
    font-family: Verdana,Tahoma,arial;
}
.jine{
    color: #ff4000;
    font-weight: bold;
}
.xia2 a,
.xia3 a{
    display: inline-block;
    height: 31px;
}
.xia2 a:hover,
.xia3 a:hover{
    cursor:not-allowed;
    cursor:no-drop;
}
.dianpu11:hover .color{
    border: 1px dotted #e0dddd;
    
}
.dianpu11:hover .color img{
    display: inline-block;
}
.dianpu11:hover .color a{
    display: none;
}
.dianpu11 .color:hover{
    border: 1px dotted #ff4000;
}
.dianpu11 .color:hover a{
    display: inline-block;
}
.color img{
    position: absolute;
    top: -1px;
    left: 140px;
    display: none;
}
#bian{
    margin-left: 30px;
}
#bian:hover{
    color: #f40;
    text-decoration: underline;
}
.color a{
    display: inline-block;
    width:31px;
    height: 17px;
    background: #f60;
    color: white;
    position: absolute;
    top:-1px;
    left: 81.5%;
    display: none;
}
.jianshu .left{
    width: 19px;
    height: 20px;
    background-color: #F0F0F0;
    border: 1px solid  #e5e5e5;
}

.jianshu .right{
    width: 19px;
    height: 22px;
    background-color: #F0F0F0;
    border: 1px solid  #e5e5e5;
}
.jianshu .center{
    width: 41px;
    height: 21px;
    background-color: white;
    border: 1px solid #999;
    text-align: center;
    padding-top:4px ;
}
.jianshu li{
    float: left;
}
.jianshu .left{
    color: #e5e5e5;
    text-indent: 7px;
    margin-left: 30px;
    padding-top: 5px;
}

.jianshu .right{
    padding-top: 3px;
    text-indent: 3px;
    margin-right: 40px;
}
.jianshu .right:hover{
    border: 1px solid red;
    color: red;
    cursor: pointer;
}
.jine{
    width: 105px;
}
.caozuo  li{
    margin-bottom: 5px;
    color: #3c3c3c;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
.caozuo li:nth-child(3){
    display: none;
}
.dianpu11:hover .caozuo li:nth-child(3){
    display: inline-block;
}
.bottom{
    width: 1000px;
    padding-top: 10px;
    height: 40px;
    background-color: #E5E5E5;
    font-size: 12px;
    position:sticky;
    bottom:0%;
    left: 10%;
    margin: 0 auto;
    z-index: 9999;
}
.bottom label{
    margin-top: 10px;
    margin-left: 5px;
    background-color: white;
}
.caozuo li:hover{
    cursor: pointer;
    color: #f40;
}
.bottom .r1{
    margin-left: 380px;
    font-size: 12px;
    font-weight: lighter;
    color: #3c3c3c;
    cursor: pointer;
    margin-right: 50px;
}
.bottom .r1 span{
    color: #f40;
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
}
.bottom .r span{
    color: #f40;
    font-size: 20px;
    font-weight: 600;
    margin: 0 5px;
}
.bottom .r2{
    margin-left: 3px;
    position: absolute;
    top:-0px ;
    right: -0px;
    display: inline-block;
    width: 120px;
    height: 50px;
    line-height: 50px;
    background-color: #aaa;
    outline:none ;
    align-items: center;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: lighter;
    cursor: no-drop;
}
.remai{
    width: 990px;
    margin: 0 auto;
    height: 30px;
    margin-top: 40px;
    border-bottom:2px solid #e6e6ee;
}
.lunbo{
    width: 990px;
    margin: 0 auto;
    height:490px;
}
.lunbo li{
    float: left;
    margin-left: 15px;
    /* border-bottom:1px solid red ; */
}
.lunbo .remai a{
    font-family: none ;
    color: #000;
    font-size: 14px;
    font-weight: bolder;
}
.lunbo .red-strip{
    width: 87px;
    height: 2px;
    background-color: red;
    position: absolute;
    top: 30px;
    left: -15px;
}
.remai{
    position: relative;

}
.lunbo img{
    width: 230px;
    height: 230px;
}
.lunbo .xianjia{
    margin-left: 5px;
    color: #f40;
    font-weight: bolder;
    font-size: 16px;
}
.lunbo .yuanjia{
    margin-left: 5px;
    color: rgb(156, 152, 152);
    text-decoration: line-through;
}
.dianming{
    margin-left: 5px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
}
.xiao{
    margin-left: 5px;
    color: #9a9a9a;
    margin-bottom: 8px;
}
.li1 li,
.li2 li,
.li3 li,
.li4 li,
.li5 li{
    box-sizing:border-box;
    border: 1px #e6e6ee solid;
    margin-left: 0px;
    margin-top: -10px;
    margin-right: 20px;
}
.li1 li:nth-child(4),
.li2 li:nth-child(4),
.li3 li:nth-child(4),
.li4 li:nth-child(4),
.li5 li:nth-child(4){
    margin-right: 0px;
}
.li1 li:hover,
.li2 li:hover,
.li3 li:hover,
.li4 li:hover,
.li5 li:hover{
    border:  1px #f40 solid;
}
.li1,
.li2,
.li3,
.li4,
.li5{
    position: absolute;
}
.lunbo label[for^="button"]{
    width: 12px;
    height: 12px;
    border: none;
    border-radius: 50%;
    background-color: #d1d1d1;
    position: relative;
    top: 330px;
    left: 450px;
    margin-right: 10px;
}
#button1:hover ~ label[for="button1"],
#button1:checked ~ label[for="button1"] {
    background: #f40;
}
#button2:hover ~ label[for="button2"],
#button2:checked ~ label[for="button2"]  {
    background: #f40;
}

#button3:hover ~ label[for="button3"] ,
#button3:checked ~ label[for="button3"] {
    background:#f40;
}
#button4:hover ~ label[for="button4"],
#button4:checked ~ label[for="button4"]  {
    background: #f40;
}
#button5:hover ~ label[for="button5"],
#button5:checked ~ label[for="button5"]  {
    background: #f40;
}
#button1:checked ~ .li1{
    display: block;
}
#button1:checked ~.li2,
#button1:checked ~.li3,
#button1:checked ~.li4,
#button1:checked ~.li5 {
    display: none;
}
#button2:checked ~.li2{
    display: block;
}
#button2:checked ~.li1 ,
#button2:checked ~.li3 ,
#button2:checked ~.li4 ,
#button2:checked ~.li5 {
    display: none;
}
#button3:checked ~.li3{
    display: block;
}
#button3:checked ~.li1 ,
#button3:checked ~.li2 ,
#button3:checked ~.li4 ,
#button3:checked ~.li5 {
    display: none;
}
#button4:checked ~.li4{
    display: block;
}
#button4:checked ~.li1 ,
#button4:checked ~.li3 ,
#button4:checked ~.li2 ,
#button4:checked ~.li5 {
    display: none;
}
#button5:checked ~.li5{
    display: block;
}
#button5:checked ~.li1 ,
#button5:checked ~.li3 ,
#button5:checked ~.li4 ,
#button5:checked ~.li2 {
    display: none;
}
.li1{
    display: block;
}
.li2,
.li3,
.li4,
.li5{
    display: none;
}
.end{
    color:#6c6c6c ;
    border-top: 1px solid  #e6e6ee;
    padding-top: 15px;
    width: 1100px;
    margin: 0 auto;
    padding-bottom: 10px;
}
.c1 span{
    color:  #e6e6ee;
}
.c2{
    color: #e6e6ee;
    border-bottom: 1px solid  #e6e6ee;
    padding-bottom: 15px;
    margin-top: 8px;
}
.c1 a,.c2 a{
    color:#6c6c6c ;
    margin-left: 1px;
    margin-right: 4px;
}
.c9{
    margin-top: 10px;
}
.c9 a{
    margin-right: 12px;
}
.c1 a:hover,.c2 a:hover,.c9 a:hover{
    color: #f40;
}
.c3 a,
.c3 span{
    margin-right: 6%;
}
.c3 a{
    color:#6c6c6c ;
}
.c3 span{
    color: #666;
}
.c3{
    margin-top: 0.8%;
}
.c4 span{
    margin-right: 5%;
    color: #666;
}
.c5,.c6{
    color: #666;
}
.c5,.c6,.c7{
    margin-top: 0.3%;
}
.c6 span{
    margin-right: 5%;
}

#yiru{
    position: absolute;
    left: 140px;
    top: -13px;
    padding: 10px;
    background-color: white;
    z-index: 99;
    border: 1px #ccc solid;
    display: none;
    box-shadow: 0 1px 1px rgba(0, 0,0, .2);

}
#little{
    width: 0px;
    height: 0px;
}
#little::after{
    content: "";
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-bottom: none;
    border-top-color: white;
    bottom: 70px;
    z-index: 100;
    left: 128px;
    margin: auto;
    transition: all .2s;
    transform: rotate(90deg);
    position: absolute;
}
#little::before{
    content: "";
    position: absolute;
    width: 0;
    border: 10px solid transparent;
    border-bottom: none;
    border-top-color: rgb(194, 189, 189);
    bottom: 70px;
    z-index: 3;
    left: 127px;
    display: none;
    margin: auto;
    transition: all .2s;
    transform: rotate(90deg);
    position: absolute;
}
#before:hover ~ #yiru{
    display: block;
}
#before:hover,
#yiru:hover{
    cursor: pointer;
}
#before:hover ~ #little::before{
    display: block;
}
.youce{
    position: fixed;
    top: 65%;
    left: 96%;
}
.youce a{
    /* display: none; */
    width: 35px;
    height: 35px;
    background: #F5F5F5;
    border: 1px solid #ebebeb;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.youce a i{
    font-size: 15px;
}
.youce div{
    display: none;
    width: 35px;
    height: 35px;
    color: white;
    background:#AAAAAA;
    align-items: center;
    padding-left: 5px;
    justify-content: center;
}
.youce a:hover i{
    display: none;
}
.youce a:hover div{
    display: block;
}
@media (min-width: 1400px) and (max-width:9999px) {
    /* .bottom{
        left: 7.5%;
        margin-left: 100px;
    } */
}